body {
  font-family: $font-base;
}

.ornament {
  background-image: url(../../assets/Decoration.svg);

  width: 253px;
  height: 33px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btn {
  font-family: $font-base;
  font-weight: 300;
  font-size: 2.25em;
  color: $font-color;
  text-transform: uppercase;
  background-color: #fff;
  border: 0.75px solid $font-color;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    border-color: $ornament-color;
  }
}

.btnBack {
  margin-right: 50px;
}

.btnNextOrBack {
  width: 180px;
  height: 80px;
  border: 1px solid $font-color;
  transition: 0.2s;
  background-color: transparent;
  font-size: 1.5em;
  color: $font-color;
  border-radius: 3px;
  &:hover {
    background-color: $ornament-color;
    cursor: pointer;
  }
}

.input {
  width: 92%;
  border: none;
  border-bottom: 1px solid #707070;
  margin: 15px 0 50px 0;
  background: transparent;
  padding: 10px 10px;

  &:focus {
    outline: none;
  }
}

.invalid__value--input {
  border-bottom-color: red;
}

.textarea {
  resize: none;
  width: 100%;
}

.hide {
  display: none;
}
