.footer {
  position: absolute;
  bottom: 3vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  @include mobile {
    justify-content: flex-start;
  }

  &--copy {
    font-size: 1.125em;
    color: $font-color;
    @include mobile {
      margin-left: 40px;
    }
    @include smallerMobile {
      margin-left: 10px;
    }
  }

  &--social {
    position: absolute;
    top: -10px;
    right: 7vw;
    font-size: 28px;

    .icon-social {
      margin-left: 25px;
      cursor: pointer;
    }
  }
}
