.formHandOverStuffStep2 {
  &__containerSelect {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    @include mobile {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    @include smallerMobile {
      margin-bottom: 50px;
    }

    & label {
      font-size: 1.5em;
      @include mobile {
        margin-bottom: 30px;
      }
    }
  }
}

.customSelectContainer {
  position: relative;
  margin-left: 25px;
  @include mobile {
    margin-left: 0px;
  }
  @include smallerMobile {
    width: 100%;
  }
  &__select {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border: 1px solid $font-color;
    border-radius: 2px;
    padding-left: 30px;
    font-size: 1.5em;
    font-weight: 300;
    @include smallerMobile {
      width: 100%;
    }
  }
  &__options {
    position: absolute;
    border: 1px solid $font-color;
    border-radius: 2px;
    top: 60px;
    right: 0;
    width: 70px;
  }

  &__option {
    padding: 5px 0px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $ornament-color;
    }
  }
  &__customArrow {
    position: absolute;
    top: 10px;
    right: 14px;
    display: block;
    height: 20px;
    width: 20px;
    transform: rotate(225deg);
    border-left: 2px solid black;
    border-top: 2px solid black;
    pointer-events: none;
  }
  & .customArrowRiverse {
    top: 20px;
    transform: rotate(45deg);
  }
}
