.homeWhoWeHelpContent {
  &__description {
    width: 35vw;
    font-size: 1.375em;
    color: $font-color;
    text-align: center;
    margin-top: 50px;
    @include tablet {
      width: 60vw;
    }
    @include mobile {
      width: 85%;
      font-size: 1.5em;
    }
  }

  &__container {
    color: $font-color;
    margin-top: 100px;

    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $font-color;
      margin-top: 30px;
    }
    &--singleWrap {
      width: 70vw;
      display: flex;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__organization {
    font-family: $font-alt;
    font-weight: 300;
    font-size: 1.125em;
    @include mobile {
      margin-bottom: 20px;
    }
    &--title {
      font-size: 1.625em;
      margin-bottom: 10px;
      @include tablet {
        text-align: left;
      }
      @include mobile {
        text-align: center;
      }
    }
    &--description {
      @include tablet {
        text-align: center;
      }
    }
    &--items {
      text-align: right;
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.125em;
    }
  }
}
