.sectionLogout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__title {
    width: 450px;
    text-align: center;
    font-size: 2.5em;
    color: $font-color;
  }
}
